body {
    background: #272822;
    color: #f8f8f2;
    font-size: 12px;
}
.tag-name {
    color: #f92672;
}
.function-argument {
    color: #a6e22e;
}
.tag-attribute {
    color: #fd971f;
}
.storage-type {
    color: #66d9ef;
}
.user-defined-constant {
    color: #ae81ff;
}
.string {
    color: #e6db74;
}
.comment {
    color: #75715e;
}
.background {
    background: #f8f8f2;
    color: #272822;
}
.about {
   color: #66d9ef;
   text-align: center;
   text-decoration: none;
}

/* 
https://codepen.io/koshishirai/pen/oNjYJMV
*/