# library
pyyaml
pint
ipdb
ipython
matplotlib
pytest
coverage
dipplanner @ git+https://github.com/ThomasChiroux/dipplanner.git

# app
kivy[full]
KivyMD @ https://github.com/kivymd/KivyMD/archive/master.zip

# to build the app
buildozer