<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cenote</title>
  {{ codemirror.include_codemirror() }}
  {{ bokeh_resources|safe }}
  {{ bokeh_script|safe }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div>
    <form method="POST">
      {{ form.open_button }} {{ form.save_button }}
      <br><br>
      {{ form.input_text }}
      <br>
      {{ form.plan_button }}
    </form>
  </div>

  <div>
    {{ plan_table|safe }}
  </div>

  <div class="embed-wrapper">
    {% for div in bokeh_divs %}
      {{ div|safe }}
      <br>
    {% endfor %}
  </div>

</body>
</html>