<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cenote</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1>Upload your plan</h1>

  <form method="POST" enctype="multipart/form-data">
    {{ upload_form.hidden_tag() }}
    {{ upload_form.file_picker }}
    <br>
    <br>
    {{ upload_form.upload_button }} 
  </form>

  <h1>Build Plan</h1>

  <form method="POST" enctype="multipart/form-data">
    {{ plan_form.hidden_tag() }}
    <table>
      <tr>
        <td>Water type</td>
        <td></td>
        <td>{{ plan_form.water }}</td>
      </tr>
      <tr>
        <td>Gradient Factor</td>
        <td>Low</td>
        <td>{{ plan_form.gf_lo }}</td>
      </tr>
      <tr>
        <td></td>
        <td>High</td>
        <td>{{ plan_form.gf_hi }}</td>
      </tr>
      <tr>
        <td>Gas Consumption Rate</td>
        <td>Working</td>
        <td>{{ plan_form.scr_work }}</td>
      </tr>
      <tr>
        <td></td>
        <td>Decompression</td>
        <td>{{ plan_form.scr_deco }}</td>
      </tr>
    </table>

    {% for tank in plan_form.tanks %}
      {{ tank }}
    {% endfor %}
    {{ plan_form.add_tank }} {{ plan_form.remove_tank }}

    <br>
    {{ plan_form.plot_button }} {{ plan_form.save_button }} 
  </form>

</body>
</html>