<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cenote</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {# flash errors #}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1>Set default units</h1>
  <form>
    <table>
      <tr>
        <td>Time</td>
        <td>{{ config_form.time }}</td>
      </tr>
      <tr>
        <td>Depth</td>
        <td>{{ config_form.depth }}</td>
      </tr>
      <tr>
        <td>Pressure</td>
        <td>{{ config_form.pressure }}</td>
      </tr>
      <tr>
        <td>Volume rate</td>
        <td>{{ config_form.volume_rate }}</td>
      </tr>
    </table>
  </form>

  <h1>Build Plan</h1>
  <form method="POST" enctype="multipart/form-data">
    {{ plan_form.hidden_tag() }}
    <table>
      <tr>
        <td><h2>Basics</h2></td>
        <td></td>
        <td></td>
      </tr>
      {# Water #}
      <tr>
        <td>Water type</td>
        <td></td>
        <td>{{ plan_form.water }}</td>
      </tr>
      {# little bit of spacing #}
      <tr><td/><td/><td/><tr/>
      {# GF #}
      <tr>
        <td>Gradient Factor</td>
        <td>Low</td>
        <td>{{ plan_form.gf_lo }}</td>
      </tr>
      <tr>
        <td></td>
        <td>High</td>
        <td>{{ plan_form.gf_hi }}</td>
      </tr>
      {# little bit of spacing #}
      <tr><td/><td/><td/><tr/>
      {# SCR #}
      <tr>
        <td>Gas Consumption Rate</td>
        <td>Working</td>
        <td>{{ plan_form.scr_work }}</td>
      </tr>
      <tr>
        <td></td>
        <td>Decompression</td>
        <td>{{ plan_form.scr_deco }}</td>
      </tr>
      {# tanks #}
      <tr>
        <td><h2>Tanks</h2></td>
        <td></td>
        <td></td>
      </tr>
      {% for tank in plan_form.tanks %}
        {% set outer_loop = loop %}
        {% for tank_field in tank %}
          <tr>
            <td>
              {% if loop.index0 == 0 %}
                <h4>Tank {{ outer_loop.index0 + 1 }}</h4>
              {% endif %}
            </td>
            <td>{{ tank_field.label }}</td>
            <td>{{ tank_field }}</td>
          </tr>
        {% endfor %}
        {# little bit of spacing between tanks #}
        <tr><td/><td/><td/><tr/>
      {% endfor %}
      {# tank add/remove #}
      <tr>
        <td></td>
        <td></td>
        <td>{{ plan_form.add_tank }} {{ plan_form.remove_tank }}</td>
      </tr>
      {# profile #}
      <tr>
        <td><h2>Profile</h2></td>
        <td></td>
        <td></td>
      </tr>

      {% for segment in plan_form.profile %}
        {% set outer_loop = loop %}
        {% for segment_field in segment %}
          <tr>
            <td>
              {% if loop.index0 == 0 %}
                Segment {{ outer_loop.index0 + 1 }}
              {% endif %}
            </td>
            <td>{{ segment_field.label }}</td>
            <td>{{ segment_field }}</td>
          </tr>
        {% endfor %}
        {# little bit of spacing between segments #}
        <tr><td/><td/><td/><tr/>
      {% endfor %}
      {# segment add/remove #}
      <tr>
        <td></td>
        <td></td>
        <td>{{ plan_form.add_segment }} {{ plan_form.remove_segment }}</td>
      </tr>

    </table>

    <br/>
    <br/>

    {{ plan_form.plot_button }} {{ plan_form.save_button }} 
  </form>

  <h1>Upload a saved plan</h1>

  <form method="POST" enctype="multipart/form-data">
    {{ upload_form.hidden_tag() }}
    {{ upload_form.file_picker }}
    <br>
    <br>
    {{ upload_form.upload_button }} 
  </form>

</body>
</html>