# library
pyyaml
pint
ipdb
ipython
pytest
coverage
dipplanner @ git+https://github.com/ozymandium/dipplanner.git

black
clang-format

jupyter
jupyterthemes
ipympl

flask
pretty-html-table
flask-codemirror
flask-wtf

matplotlib
mpld3